%turbo-frame#yield
  %h3.title.has-text-centered
    %i.fas.fa-tools
    = @fact.title
  .columns
    %aside.column.is-3= render 'fact_menu', fact: @fact
    .column
      = render 'box'
      %turbo-frame#tickets{src: editor_fact_happening_tickets_path(@fact)}

