%h3.title.has-text-centered
  %i.fas.fa-tools
  = @fact.title
.columns
  %aside.column.is-3= render 'fact_menu', fact: @fact
  .column
    = render 'box'
    %turbo-frame#happenings{src: editor_fact_happenings_path(@fact)}
