= render Happenings::BoxComponent.new(happening: @happening) do
  - if @happening.saleable?
    %turbo-frame#ticket-new{src: new_ticket_path(ticket: {happening_id: @happening.id})}
  - else
    %turbo-frame#ticket-new
