# Env schema: development, test, production
RAILS_ENV=production
# Site title, default "Partecipo"
RAILS_TITLE=Partecipo
# Site description, used as content in meta description>
RAILS_DESCRIPTION=Partecipo description
# Url where top head banner must be loaded
RAILS_HEAD_URL=/head.html
# Url where footer page must be loaded
RAILS_FOOTER_URL=/footer.html
# Hostname, is used for OIDC configuration
RAILS_HOST=localhost
# Address of OIDC Issuer
RAILS_OIDC_ISSUER=https://my_issuer.com
# OIDC Identifier
RAILS_OIDC_IDENTIFIER=partecipo
# OIDC Secret
RAILS_OIDC_SECRET=MySuperSecureSecret

# Database configuration
RAILS_MAX_THREADS=5
RAILS_DB_URL=postgres://partecipo:partecipo@partecipo_pg/partecipo_production
# if RAILS_RESTRICTED is set all site require authentication
# RAILS_RESTRICTED=true
