- if resource.errors.any?
  #error_explanation.notification.is-warning{data: {turbo_cache: 'false'}}
    %h5.title.is-size-6= I18n.t("errors.messages.not_saved", count: resource.errors.count, resource: resource.class.model_name.human.downcase)
    .content
      %ul
        - resource.errors.full_messages.each do |message|
          %li= message
