%turbo-frame{id: @id}
  .list.has-visible-pointer-controls.box{id: "#{@id}_list"}
    - if @elements.present?
      = render @component.with_collection(@elements, **@opts)
    - else
      #empty.has-text-centered= icon_text("fas fa-folder-open", t(".empty"))
  = @pages.input_nav_js(:bulma)

