%a.box.is-hoverable.mb-2{href: editor_user_path(user), data: {turbo_frame: 'yield'}}
  .columns.is-mobile.is-gapless
    .column
      = fas_icon 'user', text: user.username
      - if user.email?
        %span.is-size-7 - #{user.email}
    - if user.editor?
      .column.is-narrow
        %span.icon
          %i.fas.fa-user-cog
    - if user.admin? 
      .column.is-narrow
        %span.icon
          %i.fas.fa-user-shield
