%turbo-frame#yield
  %h3.title.has-text-centered
    %i.fas.fa-tools
    = @user.email
  .columns
    %aside.column.is-3= render Layout::SearchComponent.new(url: editor_tickets_path, turbo_frame: 'tickets', date_range: true, categories: @categories, blank: false)
    .column
      %turbo-frame#tickets{src: editor_tickets_path(filter: {category: @user.id})}
