%a.tile.is-child{href: fact_path(fact), data: {turbo_frame: 'yield'}}
  %article.card
    .card-image
      %figure.image= image_tag fact.image.variant(resize_to_limit: [417, 278]).processed
    .card-content
      .title= fact.title
      .subtitle
        = l fact.start_on
        - if fact.start_on != fact.stop_on
          \-
          = l fact.stop_on
