%a.tile.is-6.is-parent{href: fact_path(fact), data: {turbo_frame: 'yield'}}
  %article.card.tile.is-child
    .card-image
      %figure.image= image_tag fact.image.variant(:card)
    .card-content
      .title= fact.title
      .subtitle
        = l fact.start_on
        - if fact.start_on != fact.stop_on
          \-
          = l fact.stop_on
