%p Buongiorno #{@ticket.user.username}

%p Le confermiamo la prenotazione di n. <b>#{@ticket.seats}</b> per l'evento "<b>#{@ticket.happening.fact.title}</b >" del #{l @ticket.happening.start_at, format: :detailed}
