.box
  &.is-inactive, &.is-hoverable
    box-shadow: none
    border: 1px solid #eee 
  &.is-hoverable:hover
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02)

