%turbo-frame#yield
  %turbo-frame#tickets
    %h4.title.is-size-5.has-text-centered
      %i.fas.fa-ticket-alt
      Prenotazioni

    %hr
    - if @tickets.present?
      = render @tickets
      %turbo_frame#new_ticket
    - else
      %turbo_frame#new_ticket
        .has-text-centered Nessuna prenotazione registrata
    %hr
    = pagy_bulma_nav(@pagy).html_safe
