%turbo-frame#yield
  %turbo-frame#editor_tickets
    - if @tickets.present?
      = render @tickets
      %turbo_frame#new_ticket
    - else
      %turbo_frame#new_ticket
        .has-text-centered Nessuna prenotazione registrata
    %hr
    = pagy_bulma_nav(@pagy).html_safe
