.box.has-ribbon
  %a.ribbon.is-link{href: edit_admin_group_path(@group), data: {remote: true, action: "ajax:success->page#goPage"}}
    %i.fas.fa-edit
  %nav.level
    .level-item.has-text-centered
      %div
        %p.heading Titolo
        %p.title.is-size-5= @group.title
    .level-item.has-text-centered
      %div
        %p.heading Utenti
        %p.title.is-size-5= @group.users.count
    .level-item.has-text-centered
      %div
        %p.heading Eventi
        %p.title.is-size-5= @group.facts.count
