%turbo-frame#yield
  %h3.title.has-text-centered
    %i.fas.fa-users
    Gestione
    = t 'activerecord.models.group.other'
  .columns
    %aside.column.is-3
      = render Layout::SearchComponent.new(url: admin_groups_path, turbo_frame: 'groups', date_range: false)
      = link_to icon_text('fas fa-fw', 'Nuovo gruppo'), new_admin_group_path, class: 'is-success button is-fullwidth', data: {turbo_frame: 'groups'}
    .column= render Layout::ListComponent.new(component: Groups::GroupComponent, elements: @groups, id: 'groups', pages: @pagy)
