// @charset "utf-8";

$primary: rgba(135, 38, 67,1);
$secondary: rgba( 82,134, 38,1);
$tertiary: rgba(151,101, 43,1);
$link: rgba(50, 149, 174);

$custom-colors: (
  "secondary": $secondary,
  "tertiary": $tertiary,
);

// Path to Bulma's sass folder
@use "bulma/sass" as bulma with (
  $primary: $primary,
  $success: $secondary,
  $link: $link,
  $custom-colors: $custom-colors
);

//@use "./footer" with (
//  $primary: $primary
//);
@forward "aside";
@forward "box";
@forward "bulma-list";
@forward "bulma-divider";
@forward "footer";
@forward "form";
@forward "header";
@forward "./nav1";
@forward "./nav2";
@forward "./nav3";
@forward "./ribbon";
@forward "./slimselect";
@forward "./trix";
@forward "./variants";
