.box
  &.is-inactive, &.is-hoverable
    box-shadow: none
    border: var(--bulma-border) var(--bulma-control-border-width) solid
  &.is-hoverable:hover
    box-shadow: var(--bulma-shadow)
  &.list-item
    padding: 0px 1.25rem 0px 0px
    border-radius: var(--bulma-radius)
    margin-bottom: 0.75rem
    .list-item-image
      figure
        img
          border-radius: var(--bulma-radius) 0px 0px var(--bulma-radius)
    .list-item-content
      padding: 0.75rem 0px
  &.has-heading
    margin-bottom: var(--bulma-block-spacing)
    padding: 0.5rem 0.75rem
    border-radius: var(--bulma-radius)
    p.box-heading
      border-radius: var(--bulma-radius) var(--bulma-radius) 0px 0px 
      margin: -0.5rem -0.75rem 0.5rem -0.75rem
      padding: 0.5rem 0.75rem
      color: var(--bulma-white)
      background: var(--bulma-dark)
      font-size: var(--bulma-size-4)
      font-weight: var(--bulma-weight-bold)
    .field
      margin-bottom: 0.5rem
