nav.panel
  input[type="radio"]
    margin-right: 5px

.ss-main
  height: 2.6rem
  
.list-item .field.is-grouped.is-grouped-multiline > .control:not(:last-child)
  margin-bottom: 0rem

.field.is-horizontal
  margin-bottom: 0rem

.d-block
  display: block  

.ribbon-oblique
  transform: translateX(30%) translateY(0%) rotate(45deg)
  transform-origin: top left
  top: -20px
  right:-20px

.o-hidden
  overflow: hidden