%turbo-frame#yield
  %h3.title.has-text-centered
    %i.fas.fa-users
    Gestione
    = t 'activerecord.models.user.other'
  .columns
    %aside.column.is-3= render Layout::SearchComponent.new(url: admin_users_path, turbo_frame: 'users', categories: @categories, date_range: false)
    .column
      %turbo-frame#users
        .box.mb-2= render Admin::Users::FormComponent.new(user: @user, groups: @groups)
