%turbo-frame#yield
  %turbo-frame#modal
    %section
      .modal.is-active
        .modal-background{data: {action: "click->page#closeModal"}}
        .modal-card
          .box.mb-2
            %h5.title.is-size-5.has-text-centered
              %i.fas.fa-calendar-alt
              Modifica evento

            = render 'form', fact: @fact, happening: @happening 
