%turbo-frame#yield
  %h3.title.has-text-centered
    %i.fas.fa-calendar-day
    Gestione
    = t 'activerecord.models.happening.other'
  .columns
    %aside.column.is-3= render Layout::SearchComponent.new(url: editor_happenings_path, turbo_frame: 'happenings', scope: @scopei, categories: @categories, editor: true, soldout: true)
    .column= render Layout::ListBoxedComponent.new(component: Happenings::HappeningComponent, elements: @happenings, id: 'happenings', pages: @pagy, turbo_frame: 'yield', url: :editor_happening_path)

