%turbo-frame#yield
  %turbo-frame#happenings
    %h5.title.is-size-5.has-text-centered= fas_icon 'calendar-alt', text: 'Nuove date'
    .box
      = render 'form', fact: @fact, happening: @happening 
