#loader.is-hidden
  .is-loading
#error.modal
  .modal-background
  .modal-content
    .box.has-text-centered
      %i.fas.fa-exclamation-triangle.has-text-danger.fa-4x
      <br/><br/>ATTENZIONE e` stato rilevato un errore di trasmissione, recaricare la pagina e riprovare.
#timeout.modal
  .modal-background
  .modal-content
    .box.has-text-centered
      %i.fas.fa-exclamation-triangle.has-text-danger.fa-4x
      <br/><br/>ATTENZIONE la sessione e` scaduta. Ricaricare la pagina per continuare.
