#nav3.has-background-primary-dark
  .container
    %nav.navbar.has-background-primary-dark{role: 'navigation', aria_label: 'main navigation'}
      .navbar-brand
        %a.navbar-item.has-text-weight-bold.is-italic.is-size-5{href: root_path, data: {turbo_frame: 'yield'}}
          %span.icon
            %i.fas.fa-signature.fa-fw
          %span P
          artecipo
        %a.navbar-burger.burger{role: 'button', aria: {label: 'menu', expanded: 'false'}, data: {action: 'page#toggleMenu'}}
          <span aria-hidden="true"></span><span aria-hidden="true"></span><span aria-hidden="true"></span>
      #nav3-menu.navbar-menu{data: {target: 'page.menu'}}
        .navbar-start
          = link_to fas_icon('calendar', text: 'Eventi'), root_path, class: "navbar-item", data: {turbo_frame: 'yield'}
          = link_to fas_icon('ticket-alt', text: 'Prenotazioni'), tickets_path, class: 'navbar-item', data: {turbo_frame: 'yield'}
        .navbar-end
          - if current_user.present?
            .navbar-item.has-dropdown.is-hoverable.has-background-primary-dark
              %a.navbar-link{src: tickets_path}= fas_icon('user', text: current_user.username)
              .navbar-dropdown
                - if current_user.editor?
                  %a.navbar-item{ href: editor_root_path, data: {turbo_frame: 'yield'}}= fas_icon('tools', text: 'Gestione eventi')
                  %a.navbar-item{ href: editor_users_path, data: {turbo_frame: 'yield'}}= fas_icon('tools', text: 'Gestione utenti')
                -if current_user.admin?
                  %a.navbar-item{ href: admin_root_path, data: {turbo_frame: 'yield'}}= fas_icon('users', text: 'Gestione Diritti')
                  %a.navbar-item{ href: admin_groups_path, data: {turbo_frame: 'yield'}}= fas_icon('users', text: 'Gestione Gruppi')

                %a.navbar-item{href: destroy_user_session_path, data: {method: :delete}}= fas_icon 'sign-out-alt', text: 'Disconnetti'
          - else
            .navbar.has-background-primary-dark
              %a.navbar-link{href: new_user_session_path, data: {turbo: false}}= fas_icon 'sign-in-alt', text: 'Accedi'
